# .coveragerc to control coverage.py
[run]
branch = True
omit = manage.py,
       settings.py,
       settings_local.py,
       wsgi.py,
       profiler.py,
       celery.py,
       */migrations/*,
       */tests.py,
       */__init__.py

[report]
exclude_lines = pragma: no cover,
                if settings.DEBUG

[html]
directory = static_content/media/coverage
