# .coveragerc to control coverage.py
[run]
branch = True
omit = src/manage.py,
       src/completecase/settings.py,
       src/completecase/settings_local.py,
       src/completecase/wsgi.py,
       src/completecase/profiler.py,
       src/completecase/celery.py,
       */migrations/*,
       */tests.py,
       */__init__.py

[report]
exclude_lines = pragma: no cover,
                if settings.DEBUG

[html]
directory = static_content/media/coverage
