{% extends "news/base.html" %}{% load static from staticfiles %}{% load add_host %}
{% block open_tag_type %}
    <meta property="og:type" content="article" />
{% endblock open_tag_type %}
{% block open_tag_title %}
    <meta property="og:title" content="{{ article.title }}" />
{% endblock open_tag_title %}
{% block open_tag_description %}
    {% if article.text %}
        <meta property="og:description" content="{{ article.text|striptags|safe|slice:':100' }}..." />
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock open_tag_description %}
{% block open_tag_image %}
    {% if article.image %}
        <meta property="og:image" content="{% add_host %}{{ article.image.url }}" />
        <meta property="og:image:width" content="{{ article.image.width }}"/>
        <meta property="og:image:height" content="{{ article.image.height }}"/>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock open_tag_image %}

{% block title %}{{ article.title }} | {{ block.super }}{% endblock title %}
{% block content %}
    <article>
        <div class="row">
            <a href="{{ article.category.get_absolute_url }}" class="article-category">{{ article.category.title }}</a>
            <div class="article-time">{{ article.created|date:"H:i" }}</div>
            <div class="article-date">{{ article.created|date:"d.m.Y" }}</div>
        </div>
        <div class="row">
            {% if article.image %}
                <a class="article-image" href="{{ article.image.url }}" target="_blank">
                    <img rel="image_src" alt="Зображення" src="{{ article.image.url }}"/>
                </a>
            {% endif %}
            <div class="article-title">{{ article.title }}</div>
            <div class="article-text">
                {% autoescape on %}
                    {{ article.text | safe }}
                {% endautoescape %}
            </div>
        </div>
    </article>
    {% include 'news/parts/news-list.html' with articles=same_articles extra_classes='dark' only %}
{% endblock content %}
