{% extends "news/base.html" %}
{% block title %}{{ article.title }} | {{ block.super }}{% endblock title %}
{% block content %}
    <article>
        <div class="row">
            <a href="{{ article.category.get_absolute_url }}" class="article-category">{{ article.category.title }}</a>
            <div class="article-time">{{ article.created|date:"H:i" }}</div>
            <div class="article-date">{{ article.created|date:"d.m.Y" }}</div>
        </div>
        <div class="row">
            {% if article.image %}
                <a class="article-image" href="{{ article.image.url }}" target="_blank">
                    <img alt="Зображення" src="{{ article.image.url }}"/>
                </a>
            {% endif %}
            <div class="article-title">{{ article.title }}</div>
            <div class="article-text">
                {% autoescape on %}
                    {{ article.text | safe }}
                {% endautoescape %}
            </div>
        </div>
    </article>
    {% include 'news/parts/news-list.html' with articles=same_articles extra_classes='dark' only %}
{% endblock content %}
