{% extends "news/base.html" %}{% load static from staticfiles %}
{% block title %}Головна | {{ block.super }}{% endblock title %}
{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/slider.css' %}"/>
{% endblock extra-css %}
{% block extra-js %}
    {{ block.super }}
    <script src="{% static 'misc/js/slider.js' %}" defer></script>
{% endblock extra-js %}
{% block content %}
    {% if top_articles %}
        <div class="main_slider">
            <div class="slides">
                {% for article in top_articles %}
                    <div class="wrapper" data-pos="{{ forloop.counter }}">
                        <div class="title">
                            <a class="txt" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </div>
                        <img src="{{ article.top_thumbnail }}" alt="{{ article.title }}" width="727" height="429"/>
                    </div>
                {% endfor %}
            </div>
            <div class="picker">
                <span class="caption">ТОП</span>
                {% for article in top_articles %}
                    <div class="pick" data-pos="{{ forloop.counter }}">&nbsp;</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% include 'news/parts/news-list.html' with articles=articles extra_classes='dark' only %}
{% endblock content %}
