{% extends "news/base.html" %}
{% block title %}{{ member.name }} | {{ block.super }}{% endblock title %}
{% block content %}
    <article>
        <div class="row">
            <a class="member-photo" href="{{ member.photo.url }}" target="_blank">
                <img alt="Зображення" src="{{ member.photo.url }}"/>
            </a>
            <div class="member-name">{{ member.name }}</div>
            <div class="member-position">{{ member.position }}</div>
            <div class="member-bio">
                {% autoescape on %}
                    {{ member.bio | linebreaksbr }}
                {% endautoescape %}
            </div>
        </div>
    </article>
{% endblock content %}
