{% extends "news/base.html" %}{% load static from staticfiles %}
{% block title %}Результати пошуку | {{ block.super }}{% endblock title %}
{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/reset-cse.css' %}" />
{% endblock extra-css %}
{% block content %}
    <h1>Результати пошуку</h1>
    <div class="custom-search-engine">
        <script>
            (function () {
                var cx = '{{ settings.GOOGLE_CSE_ACCOUNT }}';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>
{% endblock content %}
