{% extends "base.html" %}{% load static from staticfiles %}{% load format_phones %}
{% block title %}Контакти | {{ block.super }}{% endblock title %}
{% block content %}
    <h1>Контакти</h1>
    <div class="contacts-list">
        {% for contact in contacts %}
            <div class="contact">
                <p>{{ contact.title }} - {{ contact.phones|format_phones }};</p>
            </div>
        {% endfor %}
    </div>
    <iframe id="contact-map" align="right" width="400" height="300" scrolling="no"
            src="{{ google_map_url }}"></iframe>
{% endblock content %}
