{% extends "base.html" %}{% load static from staticfiles %}
{% block title %}Контакти | {{ block.super }}{% endblock title %}
{% block content %}
    <h1>Контакти</h1>
    <div class="contacts-list">
        {% for contact in contacts %}
            <div class="contact">
                <p>{{ contact.title }} - {{contact.phone }};</p>
            </div>
        {% endfor %}
    </div>
    <iframe id="contact-map" align="right" width="400" height="300" scrolling="no" src="https://www.google.com/maps/d/embed?mid=zzFOAR5ldlZ0.kqncrNaP7E3Y"></iframe>
{% endblock content %}
