.content .news-list {
    overflow: hidden;
    float: left;
    width: 748px;
    margin-top: 20px;
}

.content .news-list .article-preview {
    border: 3px solid #414141;
    float: left;
    width: 365px;
    box-sizing: border-box;
    background-color: #fff;
    height: 131px;
    overflow: hidden;
}

.content .news-list.dark .article-preview {
    background-color: #212121;
    color: white;
}

.content .news-list .article-preview .left-side {
    float: left;
    width: 137px;
    height: 100%;
}

.content .news-list .article-preview .right-side {
    float: right;
    width: 220px;
    height: 100%;
}

.content .news-list .article-preview .left-side .short-article-datetime {
    float: none;
    width: 100%;
    margin-left: 5px;
}

.content .news-list .article-preview .left-side .short-article-date {
    float: left;
    color: black;
}

.content .news-list.dark .article-preview .left-side .short-article-date {
    float: left;
    color: white;
}

.content .news-list .article-preview .left-side .short-article-time {
    float: left;
    color: white;
}

.content .news-list .article-preview img {
    border: 0;
    min-height: 65px;
    max-height: 95px;
}

.content .news-list .article-preview .article-title {
    font-family: "Times New Roman", serif;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding-bottom: 5px;
}

.content .news-list.dark .article-preview .article-title {
    color: white;
}

.content .news-list .article-preview .article-text {
    font-family: "Times New Roman", serif;
    font-size: 10pt;
}

.content article {
    overflow: hidden;
    float: left;
    width: 708px;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
}

.content article .article-category {
    float: left;
    font-size: 14pt;
    background-color: #9c1c1b;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.content article .article-time {
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    width: 60px;
    padding: 3px 9px;
    text-align: center;
    background-color: #9c1c1b;
    border-radius: 12px;
    margin: 3px 10px;
}

.content article .article-date {
    float: left;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 6px;
}

.content article .article-image {
    float: left;
    padding: 0 15px 15px 0;
}

.content article .article-image img {
    max-width: 300px;
}

.content article .article-title {
    text-transform: uppercase;
    font-family: "Blagovest", "Times New Roman", serif;
    font-size: 16pt;
    line-height: 28px;
    margin-bottom: 15px;
}

.content article .article-text {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    line-height: 22px;
}

.content article .article-text p {
    margin-bottom: 10px;
}

.content .members-list,
.content .documents-list {
    overflow: hidden;
    float: left;
    width: 748px;
    margin-top: 20px;
}

.content .contacts-list {
    overflow: hidden;
    float: left;
    width: 310px;
    margin-top: 15px;
}

.content .members-list .member,
.content .documents-list .document {
    float: left;
    width: 200px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden
}

.content .contacts-list .contact {
    float: left;
    width: 310px;
    margin: 10px 0;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    color: white;
}

.content .contacts-list .contact a {
    color: white;
    font-weight: bold;
}

.content input, .content textarea {
    float: left;
    box-sizing: border-box;
    color: #9d9d9d;
    width: 500px;
    min-height: 40px;
    vertical-align: middle;
    background-color: #1b1b1b;
    border: 3px solid #5d5d5d;
    border-radius: 10px;
    padding-left: 10px;
    margin: 5px;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

.content input[type="submit"] {
    border: none;
    background-color: #9c1c1b;
    color: white;
    width: 120px;
}

.content input.success, .content textarea.success {
    border-color: green;
}

.content input.error, .content textarea.error {
    border-color: red;
}

.content #feedback-form {
    margin: auto;
    width: 510px;
    padding-top: 20px;
}

.content #contact-map {
    float: right;
    width: 400px;
    height: 300px;
}

.content .members-list .member {
    height: 245px;
}

.content .members-list .member .member-name,
.content .documents-list .document .document-title {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: white;
    text-decoration: underline;
}

.content .documents-list .document .document-description {
    width: 100%;
    padding-top: 10px;
    color: white;
    font-family: "Times New Roman", serif;
    font-size: 11pt;
}

.content article .member-photo {
    float: left;
    padding: 0 15px 15px 0;
}

.content article .member-name {
    text-transform: uppercase;
    font-family: "Blagovest", "Times New Roman", serif;
    font-size: 16pt;
    line-height: 28px;
    margin-bottom: 15px;
}

.content article .member-position {
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 15px;
}

.content article .member-bio {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
    line-height: 22px;
}
